#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    flex-direction: column;
    padding: 15px;
}

#login-actions {
    margin-top: 15px;
}

#login-actions > * {
    margin: 5px 20px;
}

#login-actions > button {
    width: 115px;
}

#login-actions > a {
    width: 90px;
}

@media only screen and (max-width: 400px){
    #login-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}