.container-top {
    display: flex;
    justify-content: space-between
}

#libraryBtn{
    padding: 5px 20px;
    align-self: flex-start;
}

#searchBtn{
    margin: 15px;
    /* padding: 0; */
    max-height: 20px;
    max-width: 20px;
    /* font-weight: 700;
    font-size: 40px; */
    /* background-color: blue; */
}

#addBtn{
    margin-left: 15px;
    fill: white;
}