.container-top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* background-color: wheat; */
    max-height: calc(100vh - 167px);
    min-height: 333px;
    height: 100%;
}

#libraryBtn{
    margin: unset;
    margin-top: 10px;
    align-self: flex-start;
}

@media only screen and (max-width: 500px) {
    .container-top {
        max-height: unset;
        flex-direction: column;
    }
}
