.container-top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    /* background-color: wheat; */
}

#libraryBtn{
    margin: unset;
    margin-top: 10px;
    align-self: flex-start;
}

#searchBtn{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    fill: white;
}
