#room-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    flex-direction: column;
}

#room-container > p {
    padding: 0 10px;
}

#room-container-buttons {
    display: flex;
    align-items: center;
}

button.input-button {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.room-join input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: 30px;
    padding: 7px 11px;
    font-size: 14px;
    height: 20px;
    max-width: 200px;
    height: auto;
}

@media only screen and (max-width: 500px){
    #room-container-buttons{
        flex-direction: column;
    }
    .room-join input {
        margin-left: 0;
    }
}