#main-container > #room-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    /* background-color: khaki; */
}

#room-container > * {
    font-size: 1.1rem;
}


button.input-button {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#room-container input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: 30px;
    padding: 0.6em 1em;
    max-width: 200px;
    height: auto;
}

#room-container button {
    padding: 0.6em 1em;
}