.entry-wrapper{
  align-items: center;
  margin: 3px 0px;
}

.entry-btns{
  display: flex;
  justify-content: space-between;
}

.Btn{
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  
  border: none;
  margin: 3px;
  padding: 0 0 1px 1px;
  
  color: white;
}

.remove-btn{
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  
  border: none;
  margin: 3px;
  padding: 1px 0 0 0;
  
  color: white;
}


.track-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.track-container-info {
  display: flex;
  flex-direction: column;
  margin: 5px;
}


@media only screen and (max-width: 500px){
  .entry-btns{
    display: flex;
    flex-direction: column;
  }
  .entry-btns >*:first-of-type{
    padding: 2px 0 0 0;
    order: 1;
  } 
  
}