#searchBox {
  flex: 1 1;
  margin: 0;
  padding: 0px 9px;
  max-width: unset;
  max-height: unset;
  height: auto;

  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #1db954;
  border-right: none;
  background-color: transparent;
}

.searchBtn {
  margin: 0;
  height: auto;
  max-height: unset;
  min-height: 30px;
  max-width: 65px;

  border-radius: 3px;
  border: 1px solid #1db954;

  color: white;
  background-color: #1db954;
}

.searchbar-wrapper .searchBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.searchbar-wrapper {
  display: flex; 
  justify-content: center;
  width: 90%; 
  margin: 10px 0;
  flex: 0 0 35px;
}

.search-overlay-headers > * {
  flex: 1 1;
}

.search-overlay-headers > *:last-of-type {
  flex: 0 0 60px;
}

#result-container {
  display: flex;
  flex-direction: column;

  height: 90%;
  width: 90%;
  overflow: auto;
}

.search-overlay-headers {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#result-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  justify-content: space-between;
}

.resultCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 5px;
  padding: 8px 0px;
  border-top: 1px solid #b3b3b3;
}

.resultCell > * {
  flex: 1 1;
}

#noResult-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px){
  .search-overlay-headers >*{
    font-size: 12px !important;
  }

  .resultCell >*{
    font-size: 11px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center !important;
    word-wrap: break-all;
  }

  #searchBox {
    padding: 0px 9px;
    height: 23px;
    font-size: 11px !important;
  }

  .searchBtn {
    min-height: unset;
    padding: 0 4px;

    height: 25px;
    max-width: 45px;

    font-size: 11px !important;
  }
}