
/* #search-container {
  display: "flex" !important;
  flex-direction: row !important;
  width: "90%" !important;
  height: "45px" !important;
  max-width: none;
  max-height: none; 
  margin: "8px 0px";
} */

#searchBox {
  flex: 1 1;
  margin: 0;
  padding: 0px 9px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #1db954;
  border-right: none;
}

.searchBtn {
  /* display: block; */
  margin: 0;
  height: auto;
  max-height: unset;
  min-height: 30px;
  border-radius: 3px;
  max-width: 65px;
  border: 1px solid #1db954;

  color: white;
  background-color: #1db954;
}

.searchbar-wrapper .searchBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.searchbar-wrapper {
  display: flex; 
  width: 90%; 
  margin: 10px 0;
  flex: 0 0 35px;
}

.search-overlay-headers > * {
  flex: 1 1;
}

.search-overlay-headers > *:last-of-type {
  flex: 0 0 60px;
}

#result-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  overflow: scroll;
}

.search-overlay-headers {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#result-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  justify-content: space-between;
}

.resultCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 8px 0px;
  border-top: 1px solid #b3b3b3;

  font-size: 12px;
}

.resultCell > * {
  flex: 1 1;
}
