.player-container {
    display: flex;
    flex-direction: column;
    margin: 5px;

    /* background-color: gray; */
}

.track-info {
    display: flex;
    margin: 5px;
}

.player-status {
    display: flex;
    margin: 5px;
    /* background-color: red; */
}

#player-control{
    flex: 1 1;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

#player-slide-bar {
    flex: 4 1;
    padding-top: 1px;
    padding-right: 5px;
}
