.player-container {
    display: flex;
    flex-direction: column;
    padding: 5px;

    background-color: #282828;
}

.track-info {
    display: flex;
    margin: 5px;
}

.player-status {
    display: flex;
    margin: 5px;
    /* background-color: red; */
}

#player-control{
    flex: 1;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    /* background-color: indianred; */
}

#player-control > .MuiSvgIcon-root {
    fill: rgb(130, 130, 130);
    cursor: pointer;
}

#player-control > .MuiSvgIcon-root:hover {
    fill: rgb(182, 182, 182);
}

#player-slide-bar {
    flex: 10;
    display: flex;
    padding: 1px 5px 0 15px;
    /* background-color: hotpink; */
    align-items: center;
}

#player-slide-bar div{
    display: flex;
    margin: 5px;
    color: #b3b3b3;
    /* background-color: khaki; */
}
