.player-container {
    display: flex;
    flex-direction: column;
    padding: 5px;

    background-color: #282828;
}

.track-info {
    display: flex;
    margin: 5px;
}

.player-status {
    display: flex;
    margin: 5px;
    /* background-color: red; */
}

#player-control{
    flex: 1;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

#player-slide-bar {
    flex: 10;
    padding: 1px 5px 0 15px;
}
