.playlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 55%;
  /* background-color: pink; */
}

.top-container{
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  margin: 5px;
  /* background-color: turquoise; */
}

.tracks {
  margin: 5px;
  height: 90%;
  overflow: auto;
}

.queue-button.MuiSvgIcon-root {
  height: 40px;
  width: 40px;
  margin-left: 15px;
  fill: white;
}

.queue-button.MuiSvgIcon-root.smaller {
  height: 27px;
  width: 27px;
  padding: 5px;
}