.playlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* width: 55%; */
  /* background-color: pink; */
}

.top-container{
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  margin: 5px;
}

.playlist-btns{
 display: "flex";
 justify-content: "center"; 
 align-content: "center";
}

.tracks {
  margin: 5px;
  height: 90%;
  overflow: auto;
}

.queue-button.MuiSvgIcon-root {
  height: 40px;
  width: 40px;
 
  fill: white;
}

.queue-button.MuiSvgIcon-root:last-of-type{
  margin-left: 15px;
}

.queue-button.MuiSvgIcon-root.smaller {
  height: 27px;
  width: 27px;
  padding: 5px;
}

@media only screen and (max-width: 500px){
  .top-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
  }
   .queue-button.MuiSvgIcon-root.smaller {
    padding: 8px;
  }
}