.playlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5px;
  width: 55%;
  height: 500px;
  background-color: pink;
}

.tracks {
  margin: 5px;
  height: 90%;
  overflow: auto;
  scrollbar-color: green;
  background-color: pink;
}