header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#header-logo {
    margin: 0 5px;
}

#header-actions > button{
    background-color: transparent;
    border: none;
}