header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#header-logo {
    margin: 0 5px;
}

#header-logo p {
    user-select: none;
}

#header-actions > button, #header-actions-drawer .MuiDrawer-paper > button{
    background-color: transparent;
    border: none;
}

#header-actions-drawer .MuiDrawer-paper > button {
    text-align: end;
    border-bottom: 1px solid #333;
    margin: 0;
}

#header-actions-drawer .MuiDrawer-paper > button:hover {
    background-color: #3a3a3a;
}

#header-actions-drawer .MuiDrawer-paper {
    background: #404040;
}

#header-actions > svg {
    fill: #eee;
    margin-left: 10px;
}

.devices-popup .popup {
    align-items: flex-start;
}

#device-popup-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.devices-popup .device-container {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    transition: background 500ms;
    background-color: #ffffff;
    cursor: pointer;
}

.devices-popup .device-container:hover {
    background-color: #eee;
}

.devices-popup .device-container svg {
    margin-right: 10px;
    font-size: 30px;
}